* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #4da9ff, #64dfcb);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; /* centraliza verticalmente */
  padding: 100px;
  position: relative;
  z-index: 2;
}


.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  max-width: 100%;
  height: auto;
  z-index: 2;
  margin-top: 0;
}



.right {
  flex: 1;
  text-align: center;
  color: #fff;
  margin-top: 60px;;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 20px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 70%;
  height: auto;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #0d2b52;
  margin-bottom: 40px;
}

.title span {
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.buttons button {
  background: #1e90ff;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 200px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.buttons button:hover {
  background: #0d6efd;
}

.bottom-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%; 
  height: 350px; /* mais raso e próximo ao modelo */
  background: #fff;
  border-top-right-radius: 60px; /* arredondamento apenas na direita */
  z-index: 1;
}



